#page-header {
	min-width: @content-width;
	background: url(../images/bg/02.jpg) no-repeat top;
	.slogan {
		float: left;
		width: 680px;
		text-transform: uppercase;
		color: #fff;
		padding: 18px 20px 14px 0;
		font-size: 18px;
		line-height: 1;
		letter-spacing: 8px;
		p {
			margin: 0;
		}
	}
	.logo {
		float: left;
		width: 216px;
		margin: 0 100px 0 0;
		padding: 22px 0 0;
		a {
			.fh;
			display: block;
			position: relative;
			font-size: 15px;
			line-height: 1;
			font-size: 74px;
			font-weight: 700;
			letter-spacing: -4px;
			text-decoration: none;
			color: #000;
			margin: 0 0 0 -4px;
			&:before{
				position: absolute;
				content: '';
				bottom: -5px;
				left: 5px;
				right: 5px;
				height: 10px;
				background: @cl;
			}
			mark {
				position: absolute;
				top: 4px;
				right: 2px;
				display: block;
				text-transform: uppercase;
				font-weight: 300;
				color: #000;
				font-size: 16px;
				letter-spacing: 4px;
			}
		}
	}
}
#mainmenu {
	min-width: @content-width;
	border-bottom: 2px solid #d4c69a;
	background: #a0844d;
}
#slideshow {
	min-width: @content-width;
	background: #c4ad71;
}
#banners {
	min-width: @content-width;
	padding: 45px 0 52px;
	background: #fff;
}
#wrapper {
	padding: 50px 0;
	background: #ebe3c8;
}
#col-main {
	float: right;
	width: 76.4%;
	padding: 0 0 0 40px;
	border-left: 2px solid #e3d7b1;
}
#col-left {
	float: left;
	width: 23.6%;
	padding: 0 17px 0 0;
}
#page-footer {
	min-width: @content-width;
	padding: 23px 0;
	background: #a0844d;
	.xart {
		float: right;
		width: 20%;
		text-align: right;
		font-size: 12px;
		line-height: 1.5;
		text-transform: uppercase;
		img {
			float: right;
			margin: 0 0 0 7px;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.copy {
		padding: 10px 0;
		color: #d0c2a6;
		font-size: 11px;
		text-transform: uppercase;
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cp;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e809';
			font-size: 20px;
		}
		&:hover{
			background: @cl;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}