.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 12px;
			color: @cl;
			a {
				text-decoration: none;
				color: @gold;
				&:hover{
					text-decoration: underline;
				}
			}
			&:before{
				top: 3px;
				font-size: 10px;
				color: @gold;
			}
		}
	}
}
.mod_custom-contact {
	.fh;
	width: 240px;
	float: right;
	font-size: 18px;
	line-height: 1.2;
	.phone,.mail {
		color: #fff;
		padding: 21px 10px 5px 23px;
		background: @cl;
		height: 89px;
		a {
			color: #fff;
			text-decoration: none;
			mark {
				color: #fff;
			}
		}
		mark {
			color: #fff;
			font-size: 28px;
		}
		.mod-title {
			position: relative;
			font-size: 22px;
			line-height: 1.1;
			font-weight: 300;
			padding: 0 0 0 43px;
			margin: 0 0 1px;
			text-transform: uppercase;
			&:before{
				.fi;
				position: absolute;
				left: 0;
				top: 9px;
				content: '\e801';
				font-size: 30px;
				line-height: 1;
			}
		}
		p {
			margin: 0 0 0 43px;
		}
	}
	.phone {
		border-bottom: 1px solid #dfce9a;
		background: @cp;
		height: 90px;
		.mod-title {
			font-size: 18px;
			&:before{
				top: -5px;
				content: '\e800';
			}
		}
		p {
			margin-left: 0;
			white-space: nowrap;
		}
	}
}
.mod_menu-main {
	padding: 21px 0 0;
	ul {
		.rul;
		.clearfix;
		border-right: 2px solid #d4c69a;
		li {
			.rli;
			float: left;
			width: 20%;
			border-left: 2px solid #d4c69a;
			a {
				.fh;
				display: block;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				line-height: 1.2;
				padding: 0 24px;
				height: 49px;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				a {
					padding-top: 8px;
					background: lighten(@gold,10%);
				}
			}
		}
	}
}
.mod_custom-slideshow {
	.slider {
		position: relative;
		.items {
			border-left: 2px solid #d4c69a; 
			border-right: 2px solid #d4c69a;
			height: 400px;
			overflow: hidden;
			.item {
				position: relative;
				figure {
					img {
						display: block;
					}
				}
				.content {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 612px;
					border-left: 2px solid #fff;
					h2 {
						margin: 0;
						padding: 17px 20px 16px 50px;
						font-size: 18px;
						line-height: 1.2;
						text-transform: uppercase;
						font-weight: normal;
						color: #fff;
						background: #000;
						background: fade(#000,70%);
						mark {
							color: #fff;
							text-transform: none;
							font-size: 44px;
							font-weight: bold;
							margin: 0 7px 0 0;
						}
					}
					p {
						margin: 0;
						padding: 13px 20px 14px 50px;
						font-size: 14px;
						line-height: 1.2;
						text-transform: uppercase;
						color: #fff;
						background: #d01616;
						background: fade(#d01616,70%);
						[class^="icon-"]:before, [class*=" icon-"]:before {
							margin: -4px 10px -4px 0;
							font-size: 19px;
						}
					}
				}
			}
		}
	}
	.prev,.next {
		position: absolute;
		right: -38px;
		top: 50%;
		margin-top: -46px;
		border: 46px solid transparent;
		border-right-width: 0;
		border-left-width: 22px;
		border-left-color: #fff;
		&:hover{
			border-left-color: @cp;
		}
		&:before{
			position: absolute;
			content: '';
			top: -46px;
			left: -23px;
			border: 46px solid transparent;
			border-right-width: 0;
			border-left-width: 22px;
			border-left-color: #c4ad71;
		}
	}
	.prev {
		right: auto;
		left: -38px;
		border-right-width: 22px;
		border-left-width: 0;
		border-left-color: transparent;
		border-right-color: #fff;
		&:hover{
			border-right-color: @cp;
		}
		&:before{
			left: auto;
			right: -23px;
			border-right-width: 22px;
			border-left-width: 0;
			border-left-color: transparent;
			border-right-color: #c4ad71;
		}
	}
	.tabs {
		position: relative;
		z-index: 100;
		background: #ebe3c9;
		.items {
			.clearfix;
			margin: 0 2px;
			.item {
				width: 33.33333%;
				float: left;
				padding: 0 1px;
				cursor: pointer;
				h2 {
					.fh;
					position: relative;
					margin: 0;
					padding: 31px 0 22px;
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;
					color: #000;
					font-size: 21px;
					line-height: 1.2;
					background: #d4c69a;
					&:before{
						position: absolute;
						display: none;
						content: '';
						left: -14px;
						bottom: 100%;
						margin-bottom: -3px;
						border: 20px solid transparent;
						border-top-color: #fff;
						border-bottom-width: 0;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
				}
				&:nth-child(3) {
					h2 {
						&:before{
							left: auto;
							right: -15px;
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}
				}
				figure {
					img {
						display: block;
						max-width: 100%;
						height: auto!important;
					}
				}
				&.cycle-pager-active {
					h2 {
						background: #fff;
						&:before{
							display: block;
						}
					}
				}
			}
		}
		.links {
			ul {
				.rul;
				.clearfix;
				margin: 0 2px;
				li {
					.rli;
					width: 33.33333%;
					float: left;
					padding: 0 1px;
					a {
						position: relative;
						display: block;
						text-decoration: none;
						color: #fff;
						text-transform: uppercase;
						font-size: 13px;
						line-height: 1.2;
						background: #a0844d;
						padding: 13px 50px 13px 20px;
						&:before{
							.fi;
							position: absolute;
							content: '\e803';
							right: 15px;
							top: 50%;
							margin-top: -13px;
							font-size: 21px;
						}
					}
				}
			}
		}
	}
}
.mod_custom-banner {
	float: left;
	width: 50%;
	padding: 0 20px 0 0;
	figure {
		float: left;
		width: 50%;
		margin: 0 0 -30px;
	}
	.content {
		float: right;
		width: 50%;
		padding: 15px 0 0 20px;
	}
	.mod-title {
		.fh;
		font-size: 21px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 300;
		margin: 0 0 17px;
		mark {
			font-weight: bold;
			color: @cl;
			font-size: 28px;
			line-height: 1.1;
			letter-spacing: -0.01em;
		}
	}
	nav {
		padding: 0 20px 0 0;
		a {
			.transition(0.2s);
			display: block;
			background: @cp;
			height: 50px;
			line-height: 50px;
			color: #fff;
			text-decoration: none;
			padding: 0 16px 0 20px;
			font-size: 15px;
			&:hover{
				background: @cl;
			}
			&:before{
				.fi;
				content: '\e803';
				float: right;
				font-size: 22px;
			}
		}
	}
}
.mod_custom-map {
	position: relative;
	float: left;
	width: 50%;
	margin: 15px 0 0;
	padding: 0 0 0 26.5%;
	min-height: 200px;
	background: url(../images/bg/03.jpg) no-repeat;
	&:before{ 
		position: absolute;
		content: '';
		left: -1px;
		width: 2px;
		top: 0;
		bottom: 22px;
		background: #e3d7b1;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 21px;
		line-height: 1.2;
		margin: 0 0 11px;
	}
	ul {
		.rul;
		margin: 0 0 16px 47%;
		li {
			.rli;
			font-size: 14px;
			line-height: 1.3;
		}
	}
	nav {
		margin: 0 0 0 49%;
		font-size: 14px;
		font-weight: bold;
		a {
			&:before{
				.fi;
				float: right;
				content: '\e803';
				text-decoration: none;
				color: @cp;
				font-size: 21px;
				margin: -4px 2px 0 5px;
			}
		}
	}
}
.mod_custom-footer-contact {
	position: relative;
	min-width: @content-width;
	color: #fff;
	background: @cp;
	min-height: 266px;
	padding: 48px 0 0;
	a {
		color: #c4ad71;
	}
	.inner {
		width: 50%;
		float: left;
		.mod-title {
			.fh;
			font-size: 21px;
			line-height: 1.2;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0 0 27px;
		}
		ul {
			.rul;
			width: 50%;
			float: left;
			li {
				.rli;
				padding: 0 0 0 43px;
				margin: 0 0 16px;
				&:before{
					color: #d4c69a;
					font-size: 32px;
					top: -5px;
				}
				mark {
					color: #fff;
					font-size: 25px;
					letter-spacing: 0.03em;
					font-weight: bold;
					display: inline-block;
					margin: -12px 0;
				}
				&.phone {
					&:before{
						content: '\e800';
					}
				}
				&.email {
					&:before{
						content: '\e804';
					}
				}
				&.contact {
					&:before{
						content: '\e801';
						color: #c4ad71;
					}
				}
			}
		}
		address {
			width: 50%;
			padding: 0 0 0 10px;
			margin: -6px 0;
			float: left;
			font-style: normal;
			nav {
				margin: 18px 0;
				a {
					&:before{
						.fi;
						content: '\e805';
						float: left;
						text-decoration: none;
						font-size: 19px;
						margin: -1px 10px 0 0;
					}
				}
			}
		}
	}
	.col-map {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		float: right;
		overflow: hidden;
		.mask {
			position: absolute;
			z-index: 99;
			left: 0;
			top: 0;
		}
		.toggle {
			.border-radius(27px);
			position: absolute;
			z-index: 100;
			bottom: 50px;
			left: -27px;
			width: 54px;
			height: 54px;
			line-height: 54px;
			background: @cp;
			&:before{
				.fi;
				content: '\e807';
				float: right;
				margin: 0 17px 0 0;
			}
		}
		.map {
			width: 100%;
			height: 266px;
		}
		&.on {
			width: 100%;
			.toggle {
				&:before{
					content: '\e808';
				}
			}
		}
	}
}
.mod_menu-footer {
	width: 80%;
	float: left;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			font-size: 14px;
			margin: 0 28px 0 0;
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 40px;
	ul {
		.rul;
		li {
			.rli;
			padding: 0 0 0 26px;
			font-size: 14px;
			margin: 0 0 11px;
			a {
				display: inline-block;
				position: relative;
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					content: '\e803';
					position: absolute;
					left: -23px;
					top: 1px;
					color: #a0844d;
					text-decoration: none;
				}
			}
			&.act {
				&>a {
					color: @cl;
					font-weight: bold;
					&:before{
						color: @cp;
					}
				}
			}
			ul {
				margin: 20px 0;
				li {
					padding-left: 16px;
					margin-bottom: 5px;
				}
				a {
					&:before{
						content: '\e808';
						font-size: 10px;
						left: -16px;
						top: 2px;
					}
				}
			}
		}
	}
}