
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-pencil-circled:before { content: '\e801'; } /* '' */
.icon-location-circled:before { content: '\e802'; } /* '' */
.icon-play-circled:before { content: '\e803'; } /* '' */
.icon-desktop-circled:before { content: '\e804'; } /* '' */
.icon-compass-circled:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */